// {
//   "extends": ["airbnb", "prettier"],
//   "plugins": ["prettier"],
//   "rules": {
//     "prettier/prettier": ["error", {
//      "endOfLine":"auto"
//    }],
//     "no-unused-vars": "warn",
//     "no-console": 1,
//     "func-names": "off",
//     "no-process-exit": "off",
//     "object-shorthand": "off",
//     "class-methods-use-this": "off",
//     "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
//     "react/forbid-prop-types": 0,
//     "react/jsx-one-expression-per-line": 0,
//     "import/order": 0,
//     "import/prefer-default-export": 0,
//     "react/require-default-props": 1,
//     "arrow-body-style": 1,
//     "no-shadow": 1,
//     "react/jsx-props-no-spreading": 1,
//     "react/prop-types": 1,
//     "import/named": 0,
//     "no-sequences": 0,
//   },
//   "globals": {
//     "localStorage": true,
//     "fetch": true
//   }
// }